.headerContent{
    background: #000;
    margin-bottom: 15px;
    padding: 5px 0;
    box-shadow: 0 0 15px #00000093;

}
.logoBox{
    max-width: 160px;
}
.logoBox img{
    max-width: 160px;
    width: 100%;
}
.callButton button{
    font-size: 14px;
    color: rgb(201, 201, 201);
    border: 1px solid rgb(201, 201, 201);
} 
.callButton{
    float: right;
}